@font-face {
   font-family: 'Impact';
   src: url(../fonts/Impact.woff) format('woff2'),
      url(../fonts/Impact.woff2) format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   min-width: 320px;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   color: inherit;
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
   list-style-type: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*-----------------*/
body {
   overflow-x: hidden;
   min-width: 320px;
   font-family: 'Roboto Condensed';
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2;
   color: #040404;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}

.page {
   flex: 1 1 auto;
}

.big-container {
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

.container {
   max-width: 937px;
   padding: 0 15px;
   margin: 0 auto;
}

.page {}

.title {
   font-weight: 300;
   font-size: 32px;
   line-height: 38px;
   text-transform: uppercase;
}

/* ----------------------------------------- */
.btn-up {
   position: fixed;
   /* фиксированная позиция */
   background-color: #9F6B08;
   /* цвет заднего фона */
   right: 20px;
   /* расстояние от правого края */
   bottom: 0px;
   /* расстояние от нижнего края */
   border-top-left-radius: 8px;
   /* скругление верхнего левого угла */
   border-top-right-radius: 8px;
   /* скругление верхнего правого угла */
   cursor: pointer;
   /* форма курсора */
   display: flex;
   /* не отображать элемент */
   align-items: center;
   justify-content: center;
   transition: opacity 0.3s ease-in-out;
   width: 60px;
   height: 50px;
   opacity: 1;
}

.btn-up::before {
   content: "";
   width: 40px;
   height: 40px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
   display: none;
}

.btn-up_hiding {
   opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
   .btn-up:hover {
      background-color: #d4aa5c;
      /* цвет заднего фона при наведении */
   }
}

/*--------------------------------------------  */
.header {
   position: absolute;
   width: 100%;
   z-index: 1;
   padding-top: 25px;
   background: linear-gradient(180deg, #D8D4FB 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
   display: flex;
   justify-content: space-between;
}

.menu-list {
   display: flex;
   gap: 0 40px;
   padding-top: 25px;
}

.menu-left {}

.menu-list__item {}

.menu-list__link {
   font-weight: 400;
   font-size: 15px;
   line-height: 18px;
}

.menu-list__link:hover {
   text-decoration: underline;
}

.logo {}

.logo-img {
   padding-right: 60px;
}

.menu-right {}

/* ------------------------------------------ */

.promo {
   position: relative;
   background-image: url('../images/header-bg.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.container {}

.promo__inner {
   padding-top: 98px;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   text-align: center;
}

.promo-title {
   font-family: 'Impact';
   font-size: 76px;
   line-height: 93px;
   letter-spacing: 0.02em;
   text-transform: uppercase;
}

.promo-subtitle {
   font-family: 'Impact';
   font-size: 48px;
   line-height: 59px;
   align-self: center;

}

.promo-subtitle span {
   display: block;
   font-family: 'Impact';
   font-style: normal;
   font-size: 34px;
   line-height: 34px;
   color: #9F6B08;
   padding-bottom: 10px;
   margin-bottom: 10px;
   border-bottom: 1px solid #040404;
}

.promo__text {
   font-family: 'Roboto Condensed';
   font-size: 15.5307px;
   line-height: 18px;
}

.promo__arrow {
   align-self: center;
   margin-top: auto;
   margin-bottom: 30px;
}

.promo__arrow:hover svg {
   filter: drop-shadow(-4px 3px 13px #000);
   fill: #fff;
}

/* ----------------------------------------------- */
.info {
   padding: 100px 0;
}

.info-part:nth-child(2),
.info-part:nth-child(3) {
   display: flex;
   justify-content: space-between;
   gap: 20px;
}

.info-part:nth-child(1) {
   margin-bottom: 100px;
}

.info-part:nth-child(2) {
   margin-bottom: 66px;
}

.info-title {
   margin-bottom: 30px;
}

.info-content {
   flex: 0 1 438px;
}

.info-textbox {
   justify-content: space-between;
   display: flex;
   gap: 20px;
   margin-bottom: 30px;
}

.info-part:nth-child(2) .info-text:not(:last-child) {
   margin-bottom: 30px;
}

.info-text {
   flex: 0 1 50%;
}

.info-text__bold {
   flex: 0 1 50%;
}

.info-table {
   border-top: 1px solid #040404;
   border-bottom: 1px solid #040404;
   padding: 10px 0;
}

.info-table td {
   padding: 10px;
}

.info-img,
.info-img__rhombus,
.track-img,
.evo-black__img img,
.evo-white__videolink img {
   object-fit: cover;
}

/* ----------------------------------------- */
.track {
   background-image: url('../images/track-bg.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.container {}

.track-box {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   padding-top: 47px;
}

.track-title {
   margin-bottom: 30px;
}

.track-text {
   max-width: 435px;
}

.track-img {
   align-self: end;
   margin: auto 0 90px 0;
}

/* -------------------------------------------- */
.evo {}

.evo-black {
   padding: 100px 0 50px;
   background-color: #363636;
   color: #fff;
}

.evo-black__inner {
   position: relative;
}

.evo-black__inner::before {
   content: '';
   position: absolute;
   background-image: url('../images/decor-1.svg');
   background-repeat: no-repeat;
   background-size: contain;
   width: 203px;
   height: 203px;
   top: 217px;
   left: -150px;
}


.evo-black__inner::after {
   content: '';
   position: absolute;
   background-image: url('../images/decor-2.svg');
   background-repeat: no-repeat;
   background-size: contain;
   width: 556px;
   height: 556px;
   top: 315px;
   left: -40px;
}

.evo-black__info {
   display: flex;
   justify-content: space-between;
}

.evo-black__title {
   padding-right: 50px;
}

.title {}

.evo-black__infobox {
   flex: 0 440px;
}

.evo-black__text {}

.evo-black__text p:not(:last-child) {
   margin-bottom: 30px;
}

.evo-black__img {
   position: relative;
   z-index: 1;
}

.evo-black__img img {
   display: block;
   margin: 200px auto 60px;
}

.evo-black__descrlist {
   display: flex;
   justify-content: space-between;
}

.evo-black__descrlist dd {
   text-transform: uppercase;
}

.evo-white {
   padding: 126px 0 100px;
}

.evo-white__inner {
   position: relative;
}

.evo-white__inner::before {
   content: '';
   position: absolute;
   width: 274px;
   height: 246px;
   background-image: url('../images/decor-3.png');
   background-repeat: no-repeat;
   background-size: contain;
   top: -140px;
   right: 300px;
}

.evo-white__inner::after {
   content: '';
   position: absolute;
   width: 324px;
   height: 297px;
   background-image: url('../images/decor-4.png');
   background-repeat: no-repeat;
   background-size: contain;
   top: 0;
   right: 0;
}

.evo-white__text {
   max-width: 590px;
   margin-bottom: 70px;
}

.evo-white__text p {
   margin-bottom: 30px;
}

.evo-white__text p:nth-child(1) {
   max-width: 285px;
}

.evo-white__text p:nth-child(2) {
   max-width: 440px;
}

.evo-white__video {
   background-image: url('../images/car-video.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 260px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.evo-white__videolink span {
   display: block;
   color: #fff;
}

.evo-white__videolink svg:hover path {
   stroke: #000;
}

.evo-white__videolink svg:hover {
   filter: drop-shadow(-4px 3px 13px #000);
}

/* ----------------------------------- */
.blog {
   margin-bottom: 100px;
}

.container {}

.blog-title {
   margin-bottom: 30px;
}

.blog-slider {
   position: relative;
   padding-top: 50px;
   margin-bottom: 100px;
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.blog__item {}

.blog__item-img {
   margin-bottom: 20px;
}

.blog__item-title {
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   text-transform: uppercase;
   margin-bottom: 10px;
   min-height: 46px;
}

.blog__item-text {}

.blog__item-text p {
   margin-bottom: 10px;
}

.blog__item-link:hover {
   text-decoration: underline;
}

.blog__button {
   position: absolute;
   top: 0;
   left: 50%;
   cursor: pointer;
}


.swiper-button-left {
   transform: translateX(-41px);
}

.swiper-button-right {
   transform: translateX(8px);
}

.swiper-button-left svg:hover {
   stroke: #fff;
   fill: #9F6B08;
}

.swiper-button-right svg:hover {
   stroke: #fff;
   fill: #9F6B08;
}

.blog-qoute {
   display: flex;
   justify-content: space-between;
   gap: 0 20px;
}

.blog-qoute__content {}

.blog-qoute__subtitle {
   font-weight: 400;
   font-size: 12px;
   color: #9F6B08;
   margin-bottom: 3px;
}

.blog-qoute__name {
   font-weight: 700;
   font-size: 14px;
   margin-bottom: 10px;
}

.blog-qoute__text {
   margin-bottom: 30px;
}

.blog-qoute__text p {
   font-style: italic;
}

.blog-qoute__img {}

/* ----------------------------------- */
.footer {
   padding: 100px 0 80px;
   background-color: #363636;
   color: #fff;
}

.footer-title {
   margin-bottom: 50px;
}

.footer-top {
   display: flex;
   justify-content: space-between;
}

.footer-info__item {
   margin-bottom: 50px;
}

.footer-info dt {
   text-transform: uppercase;
   margin-bottom: 20px;
}

.footer-info dd:not(:last-child) {
   margin-bottom: 10px;
}

.social-list {
   display: flex;
   gap: 0 20px;
   margin-bottom: 87px;
}

.social-list__item svg:hover path {
   stroke: #9F6B08;
}

.social-list__link-inst {}

.social-list__link-facebook {}

.footer-addres {}

.footer-addres__title {
   margin-bottom: 20px;
}

.footer-addres__text {
   font-size: 16px;
   margin-bottom: 20px;
}

.footer-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer-bottom__link:hover {
   text-decoration: underline;
}

#map {
   height: 253px;
}

.footer-logo {}

.footer-img {}

/* ----------------------------------- */
.header__burger {
   display: none;
}

.menu-mobile {
   display: none;
}

/* ----------------------------------- */
@media(max-width: 1000px) {
   .nav {
      flex-wrap: wrap;
   }

   .logo {
      order: -1;
   }

   .logo-img {
      padding-right: 0;
   }
}

@media(max-width: 880px) {
   body.lock {
      overflow: hidden;
   }

   .title {
      text-align: center;
      font-size: 25px;
   }

   .evo-black__title {
      margin-bottom: 30px;
   }

   .logo {
      z-index: 4;
   }

   .logo-img {
      width: 50px;
   }

   .menu-list {
      display: none;
   }

   .menu-mobile {
      position: fixed;
      display: block;
      overflow: auto;
      padding-top: 100px;
      text-align: center;
      inset: 0;
      height: 100vh;
      background-color: #fff;
      left: -100%;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease 0s;
      z-index: 3;
   }

   .menu-mobile.active {
      left: 0;
      visibility: visible;
      opacity: 1;
   }

   .menu-list__item {
      padding: 10px 0;
   }

   .menu-list__link {
      display: block;
      font-size: 2vh;
   }

   .info-textbox {
      display: block;
   }

   .info-text {
      margin-bottom: 20px;
   }

   .info-part:nth-child(2),
   .info-part:nth-child(3) {
      display: block;
   }


   .evo-black__info {
      display: block;
   }

   .evo-black__descrlist {
      display: block;
      text-align: center;
   }

   .evo-black__descrlist div {
      padding: 10px 0;
   }

   .footer-top {
      display: block;
      margin-bottom: 20px;
   }

   .blog-qoute {
      display: block;
   }

   .swiper {
      z-index: 0;
   }

   .info-table {
      width: 100%;
   }

   .info-img__rhombus img,
   .blog-qoute__img img,
   .blog__item-img img {
      width: 100%;
   }

   .evo-white__inner::after,
   .evo-white__inner::before,
   .evo-black__inner::after {
      display: none;
   }

   .evo-black__img {
      z-index: 0;
   }

   .header__burger {
      display: block;
      position: fixed;
      width: 30px;
      height: 20px;
      z-index: 5;
      right: 10px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 3px;
   }

   .header__burger span {
      position: absolute;
      background-color: #000;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
   }

   .header__burger::before,
   .header__burger::after {
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }

   .header__burger.active span {
      transform: scale(0);
   }

   .header__burger::before {
      top: 0;
   }

   .header__burger::after {
      bottom: 0;
   }

   .header__burger.active::before {
      transform: rotate(45deg);
      top: 9px;
   }

   .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 7px;
   }

   .header {
      background: none;
   }

   .promo-title {
      font-size: 60px;
      line-height: 70px;
   }

   .promo-subtitle {
      font-size: 40px;
   }

   /* ----------------- */
   .btn-up {
      width: 40px;
      height: 30px;
   }

   .btn-up::before {
      width: 20px;
      height: 20px;
   }
}

@media(max-width: 500px) {
   .info {
      padding: 50px 0;
   }

   .promo-title {
      font-size: 40px;
   }

   .info-part:nth-child(1) {
      margin-bottom: 50px;
   }

   .track-img {
      margin: auto 0 50px 0;
   }

   .evo-black {
      padding: 50px 0 50px;
   }

   .evo-black__img img {
      margin: 80px auto 60px;
   }

   .evo-white {
      padding: 65px 0 50px;
   }

   .evo-white__text {
      margin-bottom: 50px;
   }

   .blog {
      margin-bottom: 50px;
   }

   .blog-slider {
      margin-bottom: 50px;
   }

   .footer {
      padding: 50px 0 50px;
   }

   .social-list {
      margin-bottom: 50px;
   }

   .footer-bottom {
      display: block;
      text-align: center;
   }

   .footer-logo {
      display: block;
      padding: 20px 0;
   }
}